<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clase 48 - Varas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/styles.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/products/styles.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
</head>

<body>
    {{> bar}}
    <h1 class='text-center'>Carrito</h1>
    {{#if cart}}
    <div class="col-md-9 row mx-auto mb-4">
        <table class="table">
            <thead class="table-borderless">
                <tr>
                    <th scope="col">Producto</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col" class="d-none d-md-table-cell">Foto</th>
                </tr>
            </thead>
            <tbody class="tbody-cart">
                {{#each cart}}
                <tr class="py-3">
                    <td data-th="Producto" class="col-4 col-md-3">
                        <div class="row product-details justify-content-center align-items-center">
                            <form class="form col-1 p-0" action="/cart?_method=DELETE&name={{name}}" method="post"
                                role="form" autocomplete="off">
                                <button title="Eliminar producto" type="submit" style="color:#AAAAAA; font-size: 0.85em"
                                    class="btn p-0">
                                    <p class="mb-0 txt">X</p>
                                </button>
                            </form>
                            <h3 class="mb-0 col-10">
                                {{name}}
                            </h3>
                        </div>
                    </td>
                    <td data-th="Precio" class="col-4 col-md-3">
                        <p class="m-0">${{price}}</p>
                    </td>
                    <td data-th="Cantidad" class="col-4 col-md-3">
                        <p class="m-0">{{quantity}}</p>
                    </td>
                    <td data-th="Foto" class="col-md-3 d-none d-sm-table-cell justify-content-center">
                        <div class='col-sm-6 col-lg-4 justify-content-center align-items-center mx-auto'>
                            <img src="/products/{{thumbnail}}" alt={{name}} class="img-fluid" />
                        </div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <p class="mb-0 text-center w-100">Total: ${{total}}</p>
        <div class="mt-3 col-12 d-flex justify-content-center c">
            <a href="/cart/complete" class="btn btn-primary col-sm-6 col-xl-4" type="button">Finalizar compra</a>
        </div>
    </div>
    {{else}}
    <div class="alert alert-warning mx-3 text-center" role="alert">
        No se encontraron productos.
    </div>
    {{/if}}
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"
        integrity="sha512-RNLkV3d+aLtfcpEyFG8jRbnWHxUqVZozacROI4J2F1sTaDqo1dPQYs01OMi1t1w9Y2FdbSCDSQ2ZVdAC8bzgAg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>